.main-content {
  margin-top: 56px;
  width: 90%;
}

#main-body {
  background-color: lightgray;
}

h1 {
  padding-top: 10px;
}

h2 {
  padding-left: 25px;
}

h3 {
  padding-left: 25px;
}

p {
  padding-left: 25px;
  padding-right: 25px;
}

audio {
  margin: 25px;
}

ul {
  margin-left: 35px;
}